div.card {
    overflow: hidden!important;
    cursor: pointer;
    padding:0px;
}

div.twitter{
    background-size:cover;
    padding:50px 10px 50px 10px;
    transition: all 1s ease-in-out 0s;
}
div.card:hover div.twitter{
transform: scale(1.1);
}

div.card > div.twitter > div.card-body {
    text-align: center;
    border:2px solid gray;
    width: 60%;
    position: relative;
    left:60px;
    background-color:rgb(206, 199, 199);
    opacity: 0.8;
}