div.container > div.card {
    overflow: hidden!important;
    cursor: pointer;
    padding:0px;
display: flex;
justify-content: center;
flex-basis: 40%;
color:white;
}
h4 {
    color:white;
}
div.twitter{
    background-size:cover;
    padding:10px 10px 10px 10px;
    transition: all 1s ease-in-out 0s;
}
div.card:hover div.twitter{
transform: scale(1.1);
}

div.card > div.twitter > div.card-body {
    text-align: center;
    border:2px solid gray;
flex-basis: 40%;


}

div.card > div.twitter > div.card-body > h4.card-title {
    color:white;
}